<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Precio</th>
                  <th class="text-center">Descripcion</th>
                  <th class="text-center">Stock</th>
                  <th class="text-center">Avatar</th>
                </tr>
            </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td class="text-center" th:text="${product.nombre}" />
                        <td class="text-center" th:text="${product.precio}" />
                        <td class="text-center" th:text="${product.descripcion}" />
                        <td class="text-center" th:text="${product.stock}" />
                         <td class="text-center" th:text="${product.imagen}" />
                        <td class="text-center">
                        <!-- <a class="btn btn-default" th:href="@{/users/__${user.id}__/edit}" th:text="Actualizar"/></a>-->
                            <form th:action="@{/products/__${product.id}__/delete}" method="POST" style="display:inline-block;"> 
                                <button type="submit" class="btn btn-default">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
        </table>
    </body>
</html>